body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    color: #070707;
    font-size: 18px;
    line-height: 25px;
    background-color: #ffffff;
}

h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    margin: 0 0 50px;
}

h2 {
    font-size: 34px;
    line-height: 46px;
    text-align: center;
    font-weight: 700;
}

h3 {
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #828282;
    margin: 0 0 60px;
}

p {
    margin: 0 0 30px;
}

.container {
    max-width: 970px;
}

.header .nav {
    padding: 27px 0;
    border-bottom: 1px solid #828282;
    display: block;
}

.header .nav-list {
    list-style: none;
    text-align: center;
    margin: 0 -20px;
}

.header .nav-list .nav-item {
    display: inline-block;
    padding: 0 20px;
}

.header .nav-list .nav-link {
    letter-spacing: 0.02em;
    text-decoration: none;
    -webkit-transition: color ease-in-out 0.3s;
    transition: color ease-in-out 0.3s;
    color: #828282;
}

.header .nav-list .nav-link:active {
    color: #070707;
}

.header .nav-list .nav-link:hover {
    color: #070707;
}

.header .nav-link .active,
.header .nav-link:hover {
    color: #070707;
}

.hero-section {
    padding-top: 12px;
}

.hero-section img {
    width: 100%;
}

.skills {
    margin: 100px auto;
}

.skills h2 {
    padding-bottom: 20px;
    margin-bottom: 0;
}

.skills .row {
    padding-top: 50px;
}

.skills .row .portfolio-link {
    color: #070707;
}

.contacts {
    margin: 100px auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.contacts .contact-holder {
    padding-bottom: 60px;
}

.contacts h2 {
    padding-bottom: 20px;
}

.contacts p {
    padding: 0;
    margin: 0;
}

.contacts ul {
    list-style: none;
    padding: 30px 0 60px;
}

.contacts .btn {
    display: block;
    width: 100%;
    max-width: 180px;
    background: #070707;
    border-radius: 22px;
}

.contacts a {
    text-decoration: none;
    color: white;
}

.about {
    margin: 100px auto;
}

.portfolio {
    margin: 100px auto 30px;
}

.portfolio h2 {
    padding-bottom: 50px;
}

.portfolio .col-3 {
    padding: 40px 0 70px;
}

.portfolio .portfolio-link {
    color: black;
}